locust
pytest
PyYAML
requests
networkx
pygit2
jsonlines
fastapi
fastapi[standard]
flask
flask-cors
opentelemetry-exporter-jaeger==1.17.0
opentelemetry-instrumentation-flask==0.38b0
biolink-helper-pkg==1.0.0
